# Arquivos temporários e de sistema
**/__pycache__
**/*.py[cod]
**/*$py.class
**/*.so
**/.Python
**/env/
**/build/
**/develop-eggs/
**/dist/
**/downloads/
**/eggs/
**/.eggs/
**/lib/
**/lib64/
**/parts/
**/sdist/
**/var/
**/*.egg-info/
**/.installed.cfg
**/*.egg

# Arquivos de versionamento
**/.git
**/.gitignore
**/.github
**/.svn

# Arquivos Docker
.dockerignore

# Arquivos de dados (serão montados como volumes)
data/

# Pastas de cache
**/.pytest_cache
**/.coverage
**/htmlcov/
**/.tox/
**/.nox/
**/.hypothesis/
**/.coverage
**/.coverage.*

# Arquivos específicos de IDEs
**/.idea
**/.vscode
**/*.swp
**/*.swo

# Pastas de notebooks e arquivos não Python
**/*.ipynb
**/__pycache__/
**/.ipynb_checkpoints/ 